<!-- Pagination links -->
<%= will_paginate @feed_items %>
<div>
  <%# <%content_for(:page_title, "High Protein Recipes") %> 
  <header>
    <div class="mx-auto mb-4 max-w-7xl  sm:px-6 lg:px-8">
      <h1 class="text-4xl mb-10 font-serif-bold font-bold leading-tight tracking-tight text-gray-900 drop-shadow-sm ">
        High Protein Recipes
      </h1>
    </div>
  </header>        
  <div class=" justify-center   gap-2">
        <!-- Your recipe list or feed -->
        <% @feed_items.each do |recipe| %>
        <!-- Render recipe details here -->
            <%= render recipe %>

        <% end %>
    </div>

  <%# <%= link_to "New recipe", new_recipe_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %> 
</div>