
<div>
  <div>
    <%= link_to notification.to_notification.message, notification.to_notification.url %>
  </div>
  <div>
    Received on <%= notification.created_at.to_date %>
  </div>
  <div>
    <% if notification.unread? %>
      Status: Unread
    <% end %>
  </div>
  <div>
    <% if notification.unread? %>
      <%= link_to "Mark as read", notification_path(notification), method: :put, class: "text-blue-500 hover:text-blue-700" %>
    <% end %>
  </div>
</div>
