<h1 class="font-sanchez text-center text-4xl font-extrabold mb-4">Followers</h1>
<div class="flex justify-center mt-4">
  <ul>
    <% @user.followers.each do |follower| %>
      <li>
        <%= link_to follower.full_name, follower, class:"text-md font-semibold  " %>

        <% if @user.following?(follower) %>
          <%= link_to "Unfollow", follower, method: :delete, class:" font-semibold ml-2 mr-2 bg-blue-600 hover:bg-blue-700 text-gray-100 px-2 py-1 rounded text-sm space-x-2 transition duration-100"%>
        <% else %>
          <%= link_to "Follow", follower, method: :post, class:" font-semibold ml-2 mr-2 bg-blue-600 hover:bg-blue-700 text-gray-100 px-2 py-1 rounded text-sm space-x-2 transition duration-100"%>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
