<div class="hidden lg:block flex flex-col mt-10 ml-7 mr-2">

    <div>
        <h3 class="text-3xl font-bold mb-2">Recipes</h3>

        <div class="flex flex-col gap-y-5 bg-white shadow-md dark:bg-dm-2 dark:shadow-none rounded-[6px] border border-gray-100 dark:border-gray-700 py-3 px-4 duration-500">

            <% @recipes.each do |m| %>
                <div class="flex items-center underline">
                    <p> <%= link_to m.name, m %> </p>
                </div>
            <% end %> 
        </div>
    </div>

    <div class="mt-7">
        <h3 class="text-3xl font-bold mb-2">Shopping Lists</h3>

        <div class="flex flex-col gap-y-4 bg-white shadow-md dark:bg-dm-2 dark:shadow-none rounded-[6px] border border-gray-100 dark:border-gray-700 py-3 px-4 duration-500">
            <% @recipes.each do |p| %>
                <div class="flex items-center">
                    <p> <%= p.user.full_name %> </p>
                </div>
            

                <div>
                    <%= link_to p do %>
                    <p class='text-gray-600 dark:text-gray-400 break-words'><%= p.name %></p>
                    <hr class="h-[1px] border-none bg-gray-200 dark:bg-gray-800 my-[5px]">
                    <% end %>
                </div>
            <% end %> 
        </div>
    </div>
</div>
