@import "actiontext.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .prose {
    @apply text-gray-900;
    }  



    
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.image {
  width: 300px;
  height: auto;
}

.image-container {
  width: 300px;
  height: 300px;
}

.liked {
  color: red;
}

.save-recipe {
  border: 1px solid #dedada;
  border-radius: 4px;
  color: #757575;
  cursor: pointer;
  
}
/* For the delete button */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* For the add button */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


@media print {
  #print-button {
    display: none;
  }
}

}


