<!DOCTYPE html>
<html class="poppins">
  <head>
      <%= render 'shared/head' %>
  </head> 

    <div class="w-full <%= main_layout %>">

        <div class='<%= grid_layout %>'>
          <%= yield %>
              
        </div> 
      </div>
    </div>
  </body>
</html>
